body {
    background-image: url(../images/grass-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.main {
    margin-top: 20vh;
    margin-left: 30vw;
    margin-right: 30vw;
    padding: 5px;
    text-align: center;
}